/.cph
/.vscode


*.bin

# Binaries for programs and plugins
*.exe
*.exe~
/*/.exe
# Ignore files with extension `.class` & `.exe`
*.class
*.exe

# Unignore all `.exe` in `bin` dir
!*/bin/*.exe

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app